*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    overflow-x: hidden;
}
/* ***** NAV STYLES ****** */
.nav-container{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    border-bottom: 1px white solid;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}
#nav-logo{
    width: 80px;
}
#shopping-bag-icon{
    width: 30px;
    filter: invert();
    transition: 0.4s ease;
}
.nav-links-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}
.nav-links{
    list-style: none;
    text-transform: uppercase;
    color: white;
    font-size: 16px;
}
.line{
    background-color: white;
    width: 26px;
    height: 3px;
    margin: 6px 0px;
    transition: 0.4s ease;
    transform-origin: left;
}
.burger-icon{
    cursor: pointer;
    display: none;
}
/* burger icon animation classes */
.line1rotate{
    transform: rotate(45deg);
}
.line2disappear{
    opacity: 0;
}
.line3rotate{
    transform: rotate(-45deg);
}

@media screen and (max-width: 1210px){
    .nav-links-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 50%;
        position: absolute;
        flex-direction: column;
        top: 80px;
        backdrop-filter: blur(10px);
        height: 80vh;
        right: 0;
        -webkit-box-shadow: -9px 10px 11px -7px rgba(0,0,0,0.7); 
        box-shadow: -9px 10px 11px -7px rgba(0,0,0,0.7);
        transform: translateX(120%);
        transition: 0.4s ease;
    }
    .sideMenuSlide{
        transform: translateX(0);
    }
    .nav-links{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        width: 100%;
        height: 100%;
    }
    .nav-links:hover{
        background-color: #0083cf71;
        cursor: pointer;
    }
    #shopping-bag-icon{
        position: fixed;
        bottom: 15px;
        right: 15px;
    }
    .burger-icon{
        display: block;
    }
}

/* ****** HERO STYLES ***** */
.hero{
    height: 100vh;
    position: relative;
    background: rgb(46,75,114);
    background: linear-gradient(180deg, rgba(46,75,114,1) 0%, rgba(37,59,89,1) 50%, rgba(46,75,114,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
#hero-headphones{
    width: 60%;
}
#hero-splash{
    position: absolute;
    width: 60%;
    max-width: 805px;
}
.hero-shop-now{
    border: none;
    background: none;
    border: 1px solid white;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    bottom: 5%;
    transition: 0.4s ease;
}
.hero-shop-now:hover{
    padding: 15px 25px;
    background-color: #0083cf;
}